<form class="example-form" [formGroup]="form">
  <div cdkDropList (cdkDropListDropped)="drop($event)" class="example-list">
    <div formArrayName="items" *ngFor="let item of form.get('items')['controls']; let i = index;" cdkDrag
         class="example-box">
      <mat-card fxLayout="row" class="full-width">
        <div class="drag-placeholder" *cdkDragPlaceholder></div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <button mat-icon-button type="button" class="remove-btn" (click)="removeHelpCard(i)">
            <mat-icon>remove</mat-icon>
          </button>
          <button mat-icon-button type="button" (click)="addHelpCard(i)">
            <mat-icon>add</mat-icon>
          </button>
          <button mat-icon-button type="button" [matMenuTriggerFor]="moveMenu">
            <mat-icon cdkDragHandle class="dragable">swap_vert</mat-icon>
          </button>
          <mat-menu #moveMenu="matMenu">
            <button mat-menu-item (click)="moveUp(i)">Move Up</button>
            <button mat-menu-item (click)="moveDown(i)">Move Down</button>
          </mat-menu>
        </div>
        <mat-divider vertical="true" style="margin-right: 10px;"></mat-divider>
        <div [formGroupName]="i" fxLayout="row" fxLayoutAlign="space-around center" class="full-width" *ngIf="conditionType">
          <mat-form-field style="width: 20%">
            <mat-label>Condition</mat-label>
            <mat-select formControlName="conditionName">
              <mat-option *ngFor="let condition of conditions" [value]="condition">
                {{condition.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field style="width: 20%">
            <mat-label>Comparator</mat-label>
            <mat-select *ngIf="getType(i)=='text'" formControlName="conditionComparator">
              <mat-option value='equals'>EQUALS</mat-option>
              <mat-option value='contains'>CONTAINS</mat-option>
              <mat-option value='notContains'>NOT CONTAINS</mat-option>
            </mat-select>
            <mat-select *ngIf="getType(i)!='text'">
            </mat-select>
          </mat-form-field>
          <mat-form-field style="width: 50%">
            <mat-label>Value</mat-label>
            <input matInput required formControlName="conditionValue">
          </mat-form-field>
        </div>
        <div [formGroupName]="i" fxLayout="row" fxLayoutAlign="space-around center" class="full-width" *ngIf="!conditionType">
          <mat-form-field style="width: 40%">
            <mat-label>Action</mat-label>
            <mat-select formControlName="action">
              <mat-option value='rmm'>Add To RMM</mat-option>
              <mat-option value='message'>Send Notification</mat-option>
              <mat-option value='transfer'>Transfer To System</mat-option>
              <mat-option value='drop'>Drop / Do nothing</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field style="width: 50%">
            <mat-label>Value</mat-label>
            <input matInput formControlName="value" required>
          </mat-form-field>
        </div>
      </mat-card>
    </div>
  </div>
</form>
