<div>
  <input type="text" [(ngModel)]="startQuery$" placeholder="Starting Query">
</div>
<br/>
<div>
  <mat-form-field>
    <input matInput [min]="minSDate" [max]="maxSDate" [matDatepicker]="startDate" placeholder="Choose a start date"
            (dateInput)="updateStart($event)" (dateChange)="updateStart($event)">
    <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
    <mat-datepicker #startDate></mat-datepicker>
  </mat-form-field>
  <span>  to  </span>
  <mat-form-field>
    <input matInput [min]="minEDate" [max]="maxEDate" [matDatepicker]="endDate" placeholder="Choose an end date"
            (dateInput)="updateEnd($event)" (dateChange)="updateEnd($event)">
    <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
    <mat-datepicker #endDate></mat-datepicker>
  </mat-form-field>
</div>
<br/>
<div>
  <span>{{endQuery$ | async}}</span>
</div>
