<div fxFlex>
  <button
    mat-raised-button
    color="accent"
    routerLink="/home"
    style="margin:20px"
  >
    Lazy-App Home
  </button>
  <button mat-raised-button color="accent" (click)="openHistory()">
    History Modal
  </button>
  <button mat-raised-button color="accent" (click)="openForms()">
    Edit Person
  </button>
  <div fxLayout="column">
    <span> Name: {{ person.name }} </span>
    <span> Description: {{ person.description }} </span>
    <span> Favorite Color: {{ person.favColor }} </span>
  </div>
</div>
